In [15]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [16]:
lesser_of_two_evens(4,11)

11

In [18]:
lesser_of_two_evens(22,44)

22

In [27]:
def animals_cracker(text):
    wordlist=text.lower().split()

    print (wordlist)
    return wordlist[0][0]==wordlist[1][0]

In [28]:
animals_cracker("arya veera")

['arya', 'veera']

False

In [25]:
animals_cracker("arya ajay")

True

In [30]:
def checks_sum(a,b):
    return (a+b)==20 or a==20 or b==20

In [31]:
checks_sum(3,4)

False

In [32]:
checks_sum(10,10)

True

In [33]:
checks_sum(20,9)

True

In [34]:
def old_macdonald(name):
    first_half=name[:3]
    second_half=name[3:]
    return first_half.capitalize()+second_half.capitalize()

In [36]:
old_macdonald("macdonald")

'MacDonald'

In [40]:
def join_reverse_words(text):
    wordlist=text.split()
    reverse_word_list=wordlist[::-1]
    return " ".join(reverse_word_list)

In [41]:
join_reverse_words("Iam not going")

'going not Iam'

In [43]:
def num_check(int):
    return (abs(100-int)<10) or (abs(200-int)<=10)

In [44]:
num_check(2)

False

In [45]:
num_check(11)

False

In [48]:
num_check(109)

True

In [60]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2]==[3,3]:
         return True
    return False

In [61]:
has_33([2,3,3,4])

True

In [62]:
def char_multiply(text):
    result=""
    for char in text:
        result +=char*3
    return result

In [63]:
char_multiply("Hi")

'HHHiii'

In [66]:
def blackjack(a,b,c):
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])-10<=21:
        return sum([a,b,c])
    else :
        return "Bust"

In [67]:
blackjack(9,9,9)

'Bust'

In [69]:
blackjack(9,9,11)

29

In [70]:
blackjack(3,6,7)

16

In [71]:
def sum_6to9(arr):
    total=0
    add=True
    for num in arr:
        while add:
            if num!=6:
                total+=num
                break
            else:
                add=False
        while not add:
            if num!=9:
                break
            else:
                add=True
                break
    return total

In [73]:
sum_6to9([1,2,5])

8

In [74]:
sum_6to9([1,2,5,6])

8

In [76]:
sum_6to9([1,2,5,6,7,9,10])

18

In [77]:
def consecutive_nums(nums):
    code=[0,0,7,'x']
    for num in nums:
        if num==code[0]:
            code.pop()
    return len(code)==1

In [79]:
consecutive_nums([2,3,0,4,0,4,5,7,0])

True

In [81]:
consecutive_nums([2,3,0,4,4,5,7,0])

False

In [82]:
def count_primes(num):
    if num<2:
        return 0
    primes=[2]
    x=3
    while x<=num:
        for y in primes:
            if x%y==0:
                x+=2
                break
        else:
            primes.append(x)
            x+=2
    print (primes)
    return len(primes)

In [83]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25