In [5]:
import pandas as pd

In [6]:
people={
    "first":["J S ","Arya","Nithya"],
    "last":["Vinay","Arha","Vidhya"],
    "email":["vinayjsjs@gmail.com","arya@gmail.com","nithyajs@gmail.com"]
}

In [7]:
people['email']

['vinayjsjs@gmail.com', 'arya@gmail.com', 'nithyajs@gmail.com']

In [8]:
df=pd.DataFrame(people)

In [9]:
df

    first    last                email
0    J S    Vinay  vinayjsjs@gmail.com
1    Arya    Arha       arya@gmail.com
2  Nithya  Vidhya   nithyajs@gmail.com

In [ ]:
df['email']

In [ ]:
type(df['email'])

In [ ]:
df.email

In [ ]:
df['country']=='India'

In [13]:
filt=(df['country']=='India')

In [ ]:
df[filt]

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
df.columns=['first_name','last_name','email']

In [12]:
df

  first_name last_name                email
0       J S      Vinay  vinayjsjs@gmail.com
1       Arya      Arha       arya@gmail.com
2     Nithya    Vidhya   nithyajs@gmail.com